<a id="tituloCarrito" href="/api/login/products"><button
    class="btnVolver"
  >Volver al home</button></a>
<div id="chatContainer">
  <div id="chatWindow">
    <div id="output"></div>
    <div id="actions"></div>
  </div>
  <input class="inputChat" type="text" id="userName" placeholder="Usuario" />
  <input class="inputChat" type="text" id="message" placeholder="Mensajes" />
  <button class="buttonChat" id="send">Enviar</button>
</div>